services:
  nifi:
    image: apache/nifi:latest
    container_name: nifi-container
    ports:
      - "8443:8443"
    environment:
      - NIFI_WEB_PROXY_HOST=localhost:8443
      - NIFI_WEB_HTTP_HOST=0.0.0.0
      - SINGLE_USER_CREDENTIALS_USERNAME=${NIFI_WEB_USER}
      - SINGLE_USER_CREDENTIALS_PASSWORD=${NIFI_WEB_PASSWORD}
    volumes:
      - nifi_conf:/opt/nifi/nifi-current/conf
      - nifi_db:/opt/nifi/nifi-current/database_repository
      - nifi_flowfile:/opt/nifi/nifi-current/flowfile_repository
      - nifi_content:/opt/nifi/nifi-current/content_repository
      - nifi_provenance:/opt/nifi/nifi-current/provenance_repository
      - nifi_extensions:/opt/nifi/nifi-current/extensions
      - ./source-data:/data_in
  minio:
    image: minio/minio:latest
    container_name: minio-container
    ports:
      - "9000:9000"
      - "9001:9001"
    environment:
      - MINIO_ROOT_USER=${MINIO_ACCESS_KEY}
      - MINIO_ROOT_PASSWORD=${MINIO_SECRET_KEY}
      - MINIO_DEFAULT_BUCKETS=air5-eda-generic-bucket
    command: server /data --console-address ":9001"
    volumes:
      - minio_data:/data
  influxdb:
    image: influxdb:2.7 
    container_name: influxdb-container
    ports:
      - "8086:8086" # InfluxDB standard port
    environment:
      # --- Initial InfluxDB setup ---
      - DOCKER_INFLUXDB_INIT_MODE=setup
      - DOCKER_INFLUXDB_INIT_USERNAME=${INFLUXDB_WEB_USER}
      - DOCKER_INFLUXDB_INIT_PASSWORD=${INFLUXDB_WEB_PASSWORD}
      - DOCKER_INFLUXDB_INIT_ORG=${INFLUXDB_WEB_ORG} 
      - DOCKER_INFLUXDB_INIT_BUCKET=${INFLUXDB_WEB_BUCKET} # Default InfluxDB bucket 
      - DOCKER_INFLUXDB_INIT_ADMIN_TOKEN=${INFLUXDB_WEB_ADMIN_TOKEN} # API access token
      - DOCKER_INFLUXDB_INIT_RETENTION=1w # Retention policy (ie 1 week)
    restart: unless-stopped
    volumes:
      - influxdb_data:/var/lib/influxdb2
  grafana:
    image: grafana/grafana:latest
    container_name: grafana-container
    ports:
      - "3000:3000"
    environment:
      # --- Initial Grafana setup ---
    - GF_SECURITY_ADMIN_USER=${GRAFANA_WEB_USER}
    - GF_SECURITY_ADMIN_PASSWORD=${GRAFANA_WEB_PASSWORD}
    restart: unless-stopped
    volumes:
      - grafana-storage:/var/lib/grafana
volumes:
  # definizione dei volumi persistenti
  nifi_conf:
    driver: local
  nifi_db:
    driver: local
  nifi_flowfile:
    driver: local
  nifi_content:
    driver: local
  nifi_provenance:
    driver: local
  nifi_extensions:
    driver: local
  minio_data:
    driver: local
  influxdb_data:
    driver: local
  grafana-storage:
    driver: local
