NIFI_WEB_USER = nifi-admin # You can replace with a key you prefer
NIFI_WEB_PASSWORD = password # Replace it with a secure password

MINIO_ACCESS_KEY = minioadmin # Replace it with a secure access key
MINIO_SECRET_KEY = minioadmin # Replace it with a secure secret key

INFLUXDB_WEB_USER = admin # You can replace with a key you prefer
INFLUXDB_WEB_PASSWORD = password # Replace it with a secure password
INFLUXDB_WEB_ORG = air5-eda-org # You can replace with a key you prefer
INFLUXDB_WEB_BUCKET =  air5-eda-data # You can replace with a key you prefer
INFLUXDB_WEB_ADMIN_TOKEN = air5-eda-secret-token # You can replace with a key you prefer

GRAFANA_WEB_USER = admin # You can replace with a key you prefer
GRAFANA_WEB_PASSWORD = password # Replace it with a secure password
